@media (max-width: 700px) {
  .hero-content h1 {
    font-size: 24px;
  }

  .article-title {
    font-size: 26px;
  }

  .page-title {
    font-size: 26px;
  }

  .search-box {
    display: none;
  }
}
